@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: sans-serif;
}

body {
  background-color: #000000;
  color: #ffff;
  text-align: center;
}

.tittle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 50px;
}

.word {
  color: #ffff;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  position: absolute;
  margin: -24px;
  margin-left: 17px;
  padding: 0px;
  text-align: center;
}

.cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
  line-height: 100px;
  border: 1px solid #555555;
  display: inline-block;
  margin: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  border-style: double;
}

#keyboard {
  margin-top: 250px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  position: static;
}

.buttonKeyboard {
  text-transform: uppercase;
  font-size: 25px;
  height: 1%;
  margin: 2px;
  padding: 13px;
  border-radius: 3px;
  border: none;
  color: #ffff;
  background-color: #6e6e6e;
  cursor: pointer;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.container {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: calc(100% - var(--header-height));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* The alert message box */
.alert {
  padding: 50px;
  background-color: #950000;
  /* Red */
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1rem;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

@-webkit-keyframes press {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 0.75;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes press {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 0.75;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=style.css.map */